*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

.container{ 
    width: 100%;
    background: white;  
    height: 80vh;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{ 
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 120px; 
    color:#343434; 
}
.large{ 
    color: #343434;
    font-size: bold;
    margin-bottom: 50px;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
/* Mini Progressbar  */
.SmallContainer{ 
    width: 100%;
    background: white;
    height: 25vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
h2{ 
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 60px;
    outline: none;
    border: none;
    color: #343434;
}
.small{ 
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
    font-size: 12px;
    font-size: bold;
}
.progressLarge{ 
    width: 300px;
    height: 50px;
    background-color: #343434;
    position: relative;
    margin-bottom:1px ;
}
.progressInn{ 
    background-color: #00f047;
    position:absolute; 
    width: 100px;
    height: 45px;
    top: 4%;
    left: 1%;
}
.progress{ 
    width: 600px;
    height: 100px;
    background-color: #343434;
    position: relative;
    margin-bottom: 50px;
}
.progress-inner{ 
    background-color: #00f047;
    position: absolute;
    top: 5%;
    width: 200px;
    height: 90px;
    left: 1%;

}

@media screen  and (max-width: 800px) {

    h1{ 
        font-size: 35px;
        line-height: 30px;
    }
    .large{ 
        
         font-size: bold;
         margin-bottom: 10px;
         font-size:17px;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .progress{ 
        width: 350px;
        height: 80px;
        position: relative;
        margin-bottom: 50px;
    }
    .progress-inner{ 
        position: absolute;
        top: 5%;
        width: 340px;
        height: 70px;
        left: 1%;
    }
   html,body{ 
    height: 100%; 
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
   }
}
