@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Inter&family=Poppins:wght@300&family=Roboto&family=Ubuntu&family=Varela+Round&display=swap');


*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
footer{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    background-color: #373737;
  
   
    height: fit-content;
    border-radius: 30px 30px 0 0;
    color: var(--primary-color);
      
}
.box .content{ 
    margin: 20px 0 0 0 ;
    position: relative; 
}
.box .content:before{ 
    position: absolute; 
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background-color: #373737;
}
.box .content:after{ 
    position: absolute; 
    content: '';
    height: 2px;
    width: 15%;
    background-color: #f12020;
    top: -40px;
}

.mainContent{ 
    display: flex;

}
.mainContent .leftBox{ 
    flex-basis: 50%;
    padding: 10px 20px;

}
.hack{ 
    color: white;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    
}

.CenterBox .content .fa-solid{ 
    font-size: 1.4375rem;
    background-color: #1a1a1a;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    transition: .3s ease;
    cursor: pointer;
}
.CenterBox .content .fa-solid:hover{ 
    background-color: #00f047;
}

.CenterBox .content .text{ 
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;

}
.CenterBox .content .Phone{ 
    margin: 10px 0 ;
}
.rightBox form .msg{
    margin-top: 10px;


}
.rightBox form input, .rightBox form textarea{ 
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}
.rightBox form .btn{ 
    margin-top: 10px;
}
.rightBox form .btn button{ 
    height: 40px;
    width: 30%;
    position: relative;
    left:35%;
    border-radius: 50%;
    border: none;
    outline: none;
    color: antiquewhite;
    background-color: #151515;
    transition: .3s ease;
    font-weight: 500;
}
.rightBox form .btn button:hover{ 
    color: #343434;
    background-color: #00f047;
}

.rightBox form input:focus, 
.rightBox form textarea:focus{ 
    outline-color: #3498db;
}
.right form input{ 
    height: 35px;
}
.leftBox .content{ 
    margin: 20px 0 0 0 ;
}
.leftBox .content .social { 
    margin: 20px 0 0 0 ;
}
.leftBox .content .social a{ 
    padding: 0 2px;
}
.leftBox .content .social a span{ 
    height: 40px;
    width: 40px;
    background: #1a1a1a ;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    transition: .5s;
    
}
.leftBox .content .social{ 
    position: relative;
    align-items: center;
}
.leftBox .content .social a span:hover{ 
    background: rgb(255, 86, 86);
}
.bottom center{ 
    padding: 5px;
    font-size: 1rem;
    background-color: #151515;


}
.bottom center span{ 
    color: #656565;
}
.bottom center a{ 
    color: #55dd00;
    text-decoration: none;
}
.bottom center a:hover{ 
    text-decoration: underline;
}
.bottom center .fa-solid{ 
    font-size: large;
    height: 20px;
    width: 20px;
     
}
:root{ 
    --primary-color: #ffffff;
    --secondary-color :#373737;
    --tertiary-color:#343434;  
} 

 
.dark-theme{ 
    --primary-color:#373737; 
    --secondary-color:rgb(255, 255, 255); 
    --tertiary-color:black; 
    
}
#icons{ 
    width: 30px;
    cursor: pointer;
    position: absolute;
    left: 93%;
    top: 1%;
}
 #icons:hover{ 
background-color: rgb(255, 204, 109);
border-radius: 20px;
transition: .8s;
}
.container{ 
    width: 100%;
    background:var(--primary-color);   
    height: 75vh;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s ease;
}
h1{ 
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 120px; 
    color:var(--secondary-color);
    outline: none;
    border: none;
}
.large{ 
    color: var(--secondary-color);
    font-size: bold;
    margin-bottom: 50px;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.progress{ 
    width: 600px;
    height: 100px;
    background-color: var(--tertiary-color);
    position: relative;
    margin-bottom: 50px;
    transition: .5s ease;
}
.progress-inner{ 
    background-color: #00f047;
    position: absolute;
    top: 5%;
    width: 590px;
    height: 90px;
    left: 1%;
    transition: .5s ease;

}

/* Mini Progressbar  */
.SmallContainer{ 
    width: 100%;
    background: var(--primary-color);
    height: 25vh;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s ease;
    border-radius: 70px;
    
}
h2{ 
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 60px;
    color: var(--secondary-color);
}
.small{ 
    color: var(--secondary-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
    font-size: 12px;
    font-size: bold;
}
.progressLarge{ 
    width: 300px;
    height: 50px;
    background-color: var(--tertiary-color);
    position: relative;
    margin-bottom:1px ;
    transition: .5s ease;
}
.progressInn{ 
    background-color: #00f047;
    position:absolute; 
    width: 294px;
    height: 45px;
    top: 4%;
    left: 1%;
    transition: .5s ease;
}




/* Custom Animation  for large Devices*/
.SmallContainer:hover> h2{ 
    color: black;
    
}
.SmallContainer:hover>  p{ 
    color: black;
    transition: .5s;
}
.SmallContainer:hover { 
        width: 100%;
        background: rgb(166, 234, 255);
        height: 25vh;
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

}
.SmallContainer:hover> .progressLarge{ 
    width: 300px;
    height: 50px;
    background-color: black;
    position: relative;
    margin-bottom:1px ;
    border-radius: 25px;
}

.SmallContainer:hover>  .progressLarge .progressInn{ 
    background-color: #00f047;
    position:absolute; 
    width: 294px;
    height: 45px;
    top: 4%;
    left: 1%;
    /* top right bottom left */
    border-radius: 20px;
} 
.container:hover{ 
    width: 100%;
    background:  rgb(255, 204, 66);  
    height: 75vh;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 200px;
   
}
.container:hover > .progress{ 
    border-radius: 40px;
    background-color: black;
    

}
.container:hover> .progress .progress-inner{ 
    border-radius: 35px;
    
}
.container:hover> p{
     color: black;
     transition: .6s;
}
.container:hover> h1 {
    color: black;
    transition: .6s; 

}



/* Mini Progressbar responsive */
@media screen  and (max-width: 800px) {

.SmallContainer{ 
    height: 25vh;
        background: var(--primary-color); 
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
}
.SmallContainer:hover{ 
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 70px;
    transition: .5s;
}
.SmallContainer:hover> .progressLarge{ 
    position: relative;
    border-radius: 20px;
    background-color: black;
    width: 150px;
    Height: 40px;
    position: relative;
    margin-bottom: 25px;
}
.SmallContainer:hover> .progressLarge .progressInn{ 
    border-radius: 15px;
    color: black;
    position: absolute;
        width: 144px;
        height: 35px;
        top: 5%;
        left: 2%;
}

.container{ 
    background: var(--primary-color);
    color: wheat;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.container:hover{ 
    background: rgb(255, 204, 66);
    border-radius: 70px;
    color: wheat;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.container:hover> .progress{
    width: 350px;
    height: 80px;
    position: relative;
    margin-bottom: 50px;
    border-radius: 35px;
}
.container:hover> .progress .progress-inner{ 
    position: absolute;
    top: 5%;
    width: 344px;
    height: 70px;
    left: 1%;
    border-radius: 25px;
   
}

    h2{ 
        font-size: 30px;
        line-height: 25px;

    }
    .small{ 
        font-size: small;
        margin-bottom: 5px;
        font-size: 15px;
    }
    .progressLarge{ 
        width: 150px;
        height: 40px;
        position: relative;
        margin-bottom: 25px;
    

    }
    .progressInn{ 
        position: absolute;
        width: 144px;
        height: 35px;
        top: 5%;
        left: 2%;
        
    }

    h1{ 
        font-size: 35px;
        line-height: 30px;
    }
    .large{ 
        
         font-size: bold;
         margin-bottom: 10px;
         font-size:17px;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .progress{ 
        width: 350px;
        height: 80px;
        position: relative;
        margin-bottom: 50px;
  
    }
    .progress-inner{ 
        position: absolute;
        top: 5%;
        width: 344px;
        height: 70px;
        left: 1%;
        
    }
   html,body{ 
    height: 100%; 
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
   }

   
}
